{% extends "base.html" %}
{% block title %}Log in{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
            var targetURL = "{% url 'index' %}";
            window.location.href = targetURL;
        </script>
    {% else %}
    <div class="form-container">
            <h1>Log In</h1> 
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="form-button"><i class="fa-solid fa-right-to-bracket "></i> Log In</button>
                <input type="hidden" name="next" value="{{ next }}">
                <p>Not have account? <a class="linkx"href="{% url 'signup'%}"><i class="fa-solid fa-user-plus"></i> Create Account</a></p>
            </form>
        </div>            
    {% endif %}
{% endblock %}
