{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% progressive_web_app_meta %}
    <title>{% block title %} {% endblock title %} | Mubahasa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon_io/favicon.ico' %}" type="image/x-icon">
    <meta content="MUBAHASA" name="title">
    <meta content="Mubahasa : Discussion App." name="description">
    <meta content="MODD" name="author">
    <!-- Open Graph / Facebook -->
    <meta content="{% block og_title %}{% endblock og_title %}| MUBAHASA" property="og:title">
    <meta content="{% block og_desc %}{% endblock og_desc %}Mubahasa : Discussion App" property="og:description">
    <meta content="{{ request.build_absolute_uri }}" property="og:url">
    <meta content="https://dynamic-og-image-generator.vercel.app//api/generate?title={% block og_img_title %}{% endblock og_img_title %}&author=MUBAHASA&avatar={{ request.scheme }}://{{ request.get_host }}{% static 'favicon_io/favicon.ico' %}&websiteUrl={{ request.build_absolute_uri }}&theme=dracula" property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta content="{{ request.build_absolute_uri }}" property="twitter:url">
    <meta content="{% block twitter_title %}{% endblock twitter_title %}| MUBAHASA" property="twitter:title">
    <meta content="{% block twitter_desc %}{% endblock twitter_desc %}Mubahasa : Discussion App" property="twitter:description">
    <meta content="https://dynamic-og-image-generator.vercel.app//api/generate?title={% block twitter_img_title %}{% endblock twitter_img_title %}&author=MUBAHASA&avatar={{ request.scheme }}://{{ request.get_host }}{% static 'favicon_io/favicon.ico' %}&websiteUrl={{ request.build_absolute_uri }}&theme=dracula" property="twitter:image">
</head>
<body>
    <header>
        <h1>MUBAHASA</h1>
        <h6 style="text-align:right;">Welcome! {% if user.is_authenticated %}{{ user.username }}{% else %}Guest.{% endif %}</h6>
    </header>

<nav>
    <ul>
        <li><a href="{% url 'index' %}"><i class="fa-solid fa-house fa-xl"></i>  </a></li>
        <li><a href="{% url 'Discussions' %}"><i class="fa-solid fa-comments fa-xl"></i> </a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}"><i class="fa-solid fa-id-card-clip fa-xl"></i> </a></li>
        <li><a href="{% url 'logout'%}?next={% url 'index' %}"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a></li>
        {% else %}
        <li><a href="{% url 'login'%}"><i class="fa-solid fa-right-to-bracket fa-xl"></i> </a></li>
        <li><a href="{% url 'signup'%}?next={{request.path}}"><i class="fa-solid fa-user-plus fa-xl"></i></a></li>
        
        {% endif %}
    </ul>
    
</nav>

{% if messages %}
    <div class="notification-container" id="notifications">
        <ul class="notification">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button class="close-btn"  onclick="closeMessage(this)"><i class="fa-solid fa-x"></i></button>
    </div>
{% endif %}

<div class="container">
    <div class="right-content">
        {% block rightcontent %}{% endblock %}
    </div>
    <div class="center-content">
        {% block content %}{% endblock %}
        {% block pagination %}
        {% if is_paginated %}
            <ul class="pagination">
    
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.private %}&private={{ request.GET.private }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.private %}&private={{ request.GET.private }}{% endif %}">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif %}
    
                <li class="page-item">
                    <a class="page-link active" href="#">
                        {{ page_obj.number }}
                    </a>
                </li>
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.private %}&private={{ request.GET.private }}{% endif %}">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.private %}&private={{ request.GET.private }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
    
            </ul>
        {% endif %}
    {% endblock %}
    </div>
    <div class="left-content">
        {% block leftcontent %}{% endblock %}
    </div>
</div>



    <footer>
        &#169; created by <a class="linky" href="{% url 'modd'%}">MODD</a>
    </footer>
</body>
</html>
