{% extends 'base.html' %}
{% block og_title %}Discussions{% endblock og_title %}
{% block og_img_title %}Discussions{% endblock og_img_title %}
{% block og_desc %}Discussions on MUBAHASA{% endblock og_desc %}
{% block twitter_title %}Discussions{% endblock twitter_title %}
{% block twitter_img_title %}Discussions{% endblock twitter_img_title %}
{% block twitter_desc %}Discussions on MUBAHASA{% endblock twitter_desc %}
{% block title %}Discussions{% endblock title %}


{% block leftcontent %}

{% include 'search_box.html' %}
{% endblock leftcontent %}

{% block content %}

<a class="linkx" style="margin-left:1rem;" href="{% url 'Discussion_start' %}"><i class="fa-regular fa-comments"></i> Start Discussion</a>
{% if private_discussions %}
<h3 class="titlex">Private Discussions</h3>
<ul class="listx" >
{% for Discussion in private_discussions  %}
    <li class="itemx"><a class="linky" href="{% url 'Message_list' Discussion.pk %}"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i> {{ Discussion.title }} [ {% if request.user.is_superuser %}{{ Discussion.visibility }}{% endif %} {{ Discussion.created_at|timesince }} ago , by {{ Discussion.creator.username }}]</a></li>
{% endfor %}
</ul>
{% endif %}
{% if Discussions %}
<h3 class="titlex">Public Discussions</h3>
<ul class="listx" >
{% for Discussion in Discussions  %}
    <li class="itemx"><a class="linky" href="{% url 'Message_list' Discussion.pk %}"><i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i> {{ Discussion.title }} [ {% if request.user.is_superuser %}{{ Discussion.visibility }}{% endif %} {{ Discussion.created_at|timesince }} ago , by {{ Discussion.creator.username }}]</a></li>
{% endfor %}
{% else %}
<p>No Discussion Found! Start one! </p>
{% endif %}
{% endblock content %}


{% block rightcontent %}
{% if top_discussions_by_user %}
    <h3 class="titlex">Top 10 Users with the Most Discussions:</h3>
    <ul class="listx">
        {% for user_data in top_discussions_by_user %}
            <li class="itemx"><i class="fa-solid fa-user"></i> {{ user_data.creator__username }}: {{ user_data.total_discussions }} discussion{{ user_data.total_discussions|pluralize }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock rightcontent %}