{% extends "base.html" %}
{% block og_title %}{{ title }}Discussions{% endblock og_title %}
{% block og_img_title %}{{ title }}Discussions{% endblock og_img_title %}
{% block og_desc %}{{ title }}Form{% endblock og_desc %}
{% block twitter_title %}{{ title }}Discussions{% endblock twitter_title %}
{% block twitter_img_title %}{{ title }}Discussions{% endblock twitter_img_title %}
{% block twitter_desc %}{{ title }}Form{% endblock twitter_desc %}
{% block title %}Discussions{% endblock title %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="form-container">
        <h1 class="titlex">{{ title }}</h1> 
        <form method="post">
            {% csrf_token %}
            {{ form }}<br>
            <input type="submit" value="{{ title }}"> 
        </form>
    </div>
{% endblock %}
