{% extends 'base.html' %}
{% block title %}{{ discussion.title }}{% endblock title %}

{% block content %}
<h2 class="titlex">{{ discussion.title }}</h2>
<h5 class="titlex">Started at {{ discussion.created_at }} by {{ discussion.creator.username }}</h5>
<p> {{ discussion.description }} <br>
    <a class="linkx" href="{% url 'Message_create' discussion.pk %}">Post message [{{ Messages|length }}]</a>
    <a href="{% url 'toggle_like' discussion.id %}" class="like-button {% if user_has_liked %}active{% endif %}">
        {% if user_has_liked %}
            Unlike
        {% else %}
            Like
        {% endif %}[{{ total_likes }}]
    </a>
</p>

{% for message in Messages %}
<div class="message-box">
    <span class="message-meta"><span style="{% if message.creator == request.user %}color:Blue;{% endif %}">{{ message.creator }}</span> | {{ message.created_at|timesince }} ago</span>
    <p class="message-body">{{ message.body }}</p>
</div>
{% endfor %}
{% endblock content %}

{% block rightcontent %}
{% if participants %}
<h3 class="titlex">Participants</h3>
<ul class="listx">
{% for participant in participants %}
    <li class="itemx">{{ participant.creator__username }}</li>
{% endfor %}
</ul>
{% else %}
<p>No participant in Discussion except you. Be first to start!</p>
{% endif %}
{% endblock rightcontent %}