{% extends 'base.html' %}
{% block og_title %}{{ discussion.title }}{% endblock og_title %}
{% block og_img_title %}{{ discussion.title }}{% endblock og_img_title %}
{% block og_desc %}{{ discussion.description }}{% endblock og_desc %}
{% block twitter_title %}{{ discussion.title }}{% endblock twitter_title %}
{% block twitter_img_title %}{{ discussion.title }}{% endblock twitter_img_title %}
{% block twitter_desc %}{{ discussion.description }}{% endblock twitter_desc %}
{% block title %}{{ discussion.title }}{% endblock title %}

{% block content %}
<div class="discussion-box">
<h2 class="titlex">{{ discussion.title }}</h2>
<h5 class="titlex">{{ discussion.visibility }} discussion Started at {{ discussion.created_at }} by <i class="fa-solid fa-user"></i> {{ discussion.creator.username }}</h5>
{% comment %} <a class="linkx" href="{% url 'Message_create' discussion.pk %}"><i class="fa-regular fa-message"></i> Post message [{{ Messages|length }}]</a> {% endcomment %}
<a href="{% url 'toggle_like' discussion.id %}" class="like-button {% if user_has_liked %}active{% endif %}">
    {% if user_has_liked %}
    <i class="fa-solid fa-heart fa-xl"></i>
    {% else %}
    <i class="fa-regular fa-heart"></i>
    {% endif %}[{{ total_likes }}]
</a>
<a class="like-button" href="https://wa.me/?text={{ request.build_absolute_uri }}" target="_blank">
    <i class="fab fa-whatsapp fa-xl"></i>
</a>
<a class="like-button" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
    <i class="fab fa-facebook fa-xl"></i>
</a>
<a class="like-button" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank">
    <i class="fab fa-x-twitter" fa-xl></i>
</a>
<a class="like-button" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank">
    <i class="fab fa-linkedin fa-xl"></i>
</a>
<a class="like-button" href="mailto:?body={{ request.build_absolute_uri }}" target="_blank">
    <i class="fas fa-envelope fa-xl"></i>
</a>

<button class="like-button" style="border:none;" onclick="copyURL()"><i class="fas fa-copy fa-xl"></i></button>

<script>
  function copyURL() {
    var currentURL = window.location.href;
    var tempInput = document.createElement("input");
    tempInput.value = currentURL;
    document.body.appendChild(tempInput);
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); 
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }
</script>

<p class="discussion-p"> {{ discussion.description|linebreaks }}</p>
</div>
<form method="post" action="{% url 'Message_list' discussion_id=discussion.id %}">
    {% csrf_token %}
    <textarea id="message" name="message" placeholder="Message" required></textarea>
    <br>
    <input type="submit" value="Post Message">
</form>

{% for message in Messages %}
<div class="message-box">
    <span class="message-meta"><span style="{% if message.creator == request.user %}color:Blue;{% endif %}"><i class="fa-solid fa-user"></i> {{ message.creator }}</span> | {{ message.created_at|timesince }} ago</span>
    <p class="message-body">{{ message.body }}</p>
</div>
{% endfor %}
{% endblock content %}

{% block rightcontent %}
{% if participants %}
<h3 class="titlex">Participants</h3>
<ul class="listx">
{% for participant in participants %}
    <li class="itemx"><i class="fa-solid fa-user"></i> {{ participant.creator__username }}</li>
{% endfor %}
</ul>
{% else %}
<p>No participant in Discussion except you. Be first to start!</p>
{% endif %}
{% endblock rightcontent %}